<lhs-form [formGroup]="formulario" (submit)="onFormSubmit()">
  <div class="container">
    <h3>Dados do usuário</h3>
    <div class="form">
      <lhs-field name="nome" label="Nome">
        <input
          name="nome"
          formControlName="nome"
          placeholder="Preencha o nome"
        />
      </lhs-field>

      <lhs-field name="genero" label="Gênero">
        <lhs-field-checkradio-container>
          <div>
            <input
              type="radio"
              name="genero"
              formControlName="genero"
              value="MASCULINO"
            />
            Masculino
          </div>
          <div>
            <input
              type="radio"
              name="genero"
              formControlName="genero"
              value="FEMININO"
            />
            Feminino
          </div>
          <div>
            <input
              type="radio"
              name="genero"
              formControlName="genero"
              [value]="null"
            />
            Não informar
          </div>
        </lhs-field-checkradio-container>
      </lhs-field>

      <lhs-field name="email" label="E-mail">
        <input
          name="email"
          type="email"
          formControlName="email"
          placeholder="Preencha o e-mail"
        />
      </lhs-field>

      <lhs-field name="username" label="Login">
        <input
          name="username"
          formControlName="username"
          placeholder="Preencha o login"
        />
      </lhs-field>

      <lhs-field name="senha" label="Senha" *ngIf="!editar">
        <input
          name="senha"
          formControlName="senha"
          placeholder="Preencha sua senha"
          type="password"
        />
      </lhs-field>

      <lhs-field name="confirmarSenha" label="Confirmar senha" *ngIf="!editar">
        <input
          name="confirmarSenha"
          formControlName="confirmarSenha"
          placeholder="Confirme sua senha"
          type="password"
        />
      </lhs-field>

      <lhs-field name="termosDeUsoAceito" label="Termos de uso" *ngIf="!editar">
        <lhs-field-checkradio-container>
          <div>
            <input
              name="termosDeUsoAceito"
              type="checkbox"
              formControlName="termosDeUsoAceito"
            />
            Concordo com os termos de uso
          </div>
        </lhs-field-checkradio-container>
      </lhs-field>
    </div>

    <h3>Papéis</h3>
    <div class="form" formArrayName="papeis">
      <lhs-button kind="outline" (click)="onAddPapel()">
        Adicionar papel
      </lhs-button>
      <lhs-validation-error displayErrorOn="always" error="arrayMinLength">
        Deve possuir um papel
      </lhs-validation-error>

      <lhs-form
        *ngFor="let papelForm of formulario.papeis.controls; let index = index"
        [formGroupName]="index"
        class="form-array-item"
        (submit)="onPapelFormSubmit($event)"
      >
        <lhs-field name="busca" label="Descrição" valueControlName="papel">
          <lhs-field-group>
            <input
              name="busca"
              formControlName="busca"
              placeholder="Informe a descrição do papel"
            />
            <lhs-button kind="outline" (click)="onRemoverPapel(index)">
              Remover
            </lhs-button>
          </lhs-field-group>
          <lhs-field-suggestion
            formControlName="papel"
            [service]="papelSuggestion"
          ></lhs-field-suggestion>
        </lhs-field>
      </lhs-form>
    </div>
  </div>

  <input type="submit" hidden />
</lhs-form>
