:host {
  width: 100%;
}

.field-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.field-group ::ng-deep > *:first-child > ::ng-deep *,
.field-group ::ng-deep > *:first-child {
  border-radius: 3px 0 0 3px;
}

.field-group ::ng-deep > *:not(:first-child):not(:last-child) > ::ng-deep *,
.field-group ::ng-deep > *:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.field-group ::ng-deep > *:last-child > ::ng-deep *,
.field-group ::ng-deep > *:last-child {
  border-radius: 0 3px 3px 0;
}
