/* 
===============================================================
General
===============================================================
*/

button {
  font-size: 1em;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 3px;
}

button:disabled {
  opacity: 0.3;
}

button:hover {
  cursor: pointer;
}

button:hover:disabled {
  cursor: not-allowed;
}

/* 
===============================================================
Buttons 
===============================================================
*/

/*

Primary
---------------------------------------------------------------
*/

button.button.primary {
  background-color: var(--el-primary);
  color: var(--el-primary-font);
  border: var(--el-primary-border-weight) solid var(--el-primary);
}

button.button.primary:disabled {
  color: var(--el-primary-font-disabled);
}

button.button.primary:hover {
  background-color: var(--el-primary-hover);
  color: var(--el-primary-font-hover);
  border: var(--el-primary-border-weight) solid var(--el-primary-hover);
}

button.button.primary:hover:disabled {
  background-color: var(--el-primary);
  color: var(--el-primary-font-disabled);
}

/*
Default
---------------------------------------------------------------
*/

button.button.default {
  background-color: var(--el-default);
  color: var(--el-default-font);
  border: var(--el-default-border-weight) solid var(--el-default);
}

button.button.default:disabled {
  color: var(--el-default-font-disabled);
}

button.button.default:hover {
  background-color: var(--el-default-hover);
  color: var(--el-default-font-hover);
  border: var(--el-default-border-weight) solid var(--el-default-hover);
}

button.button.default:hover:disabled {
  background-color: var(--el-default);
  color: var(--el-default-font-disabled);
}

/*
Alternative
---------------------------------------------------------------
*/

button.button.alternative {
  background-color: var(--el-alternative);
  color: var(--el-alternative-font);
  border: var(--el-alternative-border-weight) solid var(--el-alternative);
}

button.button.alternative:disabled {
  color: var(--el-alternative-font-disabled);
}

button.button.alternative:hover {
  background-color: var(--el-alternative-hover);
  color: var(--el-alternative-font-hover);
  border: var(--el-alternative-border-weight) solid var(--el-alternative-hover);
}

button.button.alternative:hover:disabled {
  background-color: var(--el-alternative);
  color: var(--el-alternative-font-disabled);
}

/* 
===============================================================
Outline
===============================================================
*/

button.outline {
  background-color: transparent;
}

/*
Primary
---------------------------------------------------------------
*/

button.outline.primary {
  background-color: transparent;
  color: var(--el-primary);
  border: var(--el-primary-border-weight) solid var(--el-primary);
}

button.outline.primary:hover {
  color: var(--el-primary-font-hover);
  background-color: var(--el-primary);
}

button.outline.primary:hover:disabled {
  color: var(--el-primary);
}

/*
Default
---------------------------------------------------------------
*/

button.outline.default {
  background-color: transparent;
  color: var(--el-default);
  border: var(--el-default-border-weight) solid var(--el-default);
}

button.outline.default:hover {
  color: var(--el-default-font-hover);
  background-color: var(--el-default);
}

button.outline.default:hover:disabled {
  color: var(--el-default);
}

/*
Alternative
---------------------------------------------------------------
*/

button.outline.alternative {
  background-color: transparent;
  color: var(--el-alternative);
  border: var(--el-alternative-border-weight) solid var(--el-alternative);
}

button.outline.alternative:hover {
  color: var(--el-alternative-font-hover);
  background-color: var(--el-alternative);
}

button.outline.alternative:hover:disabled {
  color: var(--el-alternative);
  background-color: transparent;
}

/* 
===============================================================
Link
===============================================================
*/

button.link {
  background-color: transparent;
  text-decoration: underline;
}

button.link:disabled {
  text-decoration: none;
}

/*
Primary
---------------------------------------------------------------
*/

button.link.primary {
  background-color: transparent;
  color: var(--el-primary);
  border: var(--el-primary-border-weight) solid transparent;
}

button.link.primary:hover {
  color: var(--el-primary-hover);
}

button.link.primary:hover:disabled {
  color: var(--el-primary);
}

/*
Default
---------------------------------------------------------------
*/

button.link.default {
  background-color: transparent;
  color: var(--el-default);
  border: var(--el-default-border-weight) solid transparent;
}

button.link.default:hover {
  color: var(--el-default-hover);
}

button.link.default:hover:disabled {
  color: var(--el-default);
}

/*
Alternative
---------------------------------------------------------------
*/

button.link.alternative {
  background-color: transparent;
  color: var(--el-alternative);
  border: var(--el-alternative-border-weight) solid transparent;
}

button.link.alternative:hover {
  color: var(--el-alternative-hover);
}

button.link.alternative:hover:disabled {
  color: var(--el-alternative);
}
