.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 3px;
  flex: 1;
}

.acoes {
  display: flex;
  flex-direction: row-reverse;
}

.acoes ::ng-deep > * {
  margin: 3px;
}