:host > .row {
    color: var(--font);
    width: 100%;
}

:host > .row > .container {
    background-color: var(--container-bg);
    padding: 10px 30px;
}

:host > .row:not(:last-child) > .container {
    border-bottom: var(--container-border);
}

:host > .row > .container > h4 {
    color: var(--container-font-title);
    margin: 5px 0;
}

:host > .row > .container > small {
    color: var(--container-font-description);
}