<ng-container *ngIf="open">
  <div class="field-suggestion-container" *ngIf="suggestions && hasMinSearchLength">
    <div 
      *ngFor="let suggestion of suggestions; let index = index"
      [ngClass]="{
        'field-suggestion-item': true, 
        'field-suggestion-selected': cursorSuggestionIndex === index
      }"
      (click)="onClick(index)"
    >
      {{ suggestion.label }}
    </div>
    <div class="field-suggestion-item" *ngIf="suggestions.length === 0">
      {{ noSuggestionsFoundText }}
    </div>
  </div>
  <div class="field-suggestion-container" *ngIf="!hasMinSearchLength">
    <div class="field-suggestion-item" *ngIf="!hasMinSearchLength">
      {{ minSearchLengthText }}
    </div>
  </div>
</ng-container>