.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breadcrumb-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breadcrumb-item:not(:last-child):after {
  display: flex;
  flex-direction: row;
  align-items: center;
  content: '/';
}

.breadcrumb-item > .current {
  margin: 10px;
  color: var(--el-primary);
}
