:host {
    display: block;
    color: var(--font);
    background-color: var(--container-bg);
    width: 100%;
    padding: 10px 30px;
}

:host:not(:last-child) {
    border-bottom: var(--container-border);
}

:host > h4 {
    color: var(--container-font-title);
    margin: 5px 0;
}

:host > small {
    color: var(--container-font-description);
}